* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.app {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  width: 320px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  color: #38bdf8;
}

.challenge-box {
  background: #0f172a;
  padding: 15px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #38bdf8;
  cursor: pointer;
}

#result {
  margin-top: 10px;
  text-align: center;
}